@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: rgba(47, 54, 64, 1);
}

nav {
    background-color: rgba(53, 59, 72, 1);
    user-select: none;
}

li, button, a, h2 {
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 5%;
    
}

.brand-name h2 {
    transition: all 0.2s ease-in-out;
}

.brand-name h2:hover {
    color: rgba(225, 177, 44, 1)
}

.navbar-links {
    display: flex;
    gap: 20px;
    list-style: none;    
    align-items: center;
}

.navbar-links ul {
    display: flex;
}

.navbar-links li {
    display: inline-block;
    padding: 0 20px;
}

.navbar-links li a {
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}

.navbar-links li a:hover {
    color: rgba(0, 168, 255, 1);
    cursor: pointer;
}

.container-button {
    display: flex;
}

button {
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: rgba(0, 168, 255, 0.8);
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(0, 168, 255, 1);
}

.toggle-button {
    position: absolute;
    right: 20px;    
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .burger {
    height: 3px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .container-button {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }    

    .navbar-links, .container-button {
        display: none;
        width: 100%;
        
    }

    .navbar-links ul, .container-button {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li, .container-button {
        text-align: center;
        padding: 10px;
    }

    .navbar-links.active, .container-button.active {
        display: flex;
    }
}